.appHeader {
    padding: 5px;
    text-align: center;
}

.headerTitle {
    text-decoration: none;
    color: #0e0d1f;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}