.trips {
    border: 2px solid #18181d;
    border-radius: 2px;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(221, 241, 253);
}

.trip {
    border: 2px solid #18181d;
    background-color: rgb(208, 236, 255);
    margin: 1rem;
    font-size: 1.1rem;
}

.trip p {
    margin: .5rem;
}

#status {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

@media only screen and (max-width: 1400px) {
    .trips {
        width: 80%;
    }
}


.delete {
    width: 1.5rem;
    float: right;
}
  
.deleteButton {
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background: #2b2b2b;
}
  
.deleteButton:hover {
    background: #30588e;
}
  
.delete a {
    font-family: Verdana;
    color: #8cbffa;
    font-size: 1.2em;
    padding-top: 50%;
    line-height: .85em;
    margin-top: -.5em;
    font-weight: bold;
    text-decoration: none;
}

.delete a:hover {
    color: #d3e7ff;
}